<template>
  <div>
      <ul>
          <li v-for="data in valueToApiGet" :key="data">{{ data.id }} {{ data.description }} {{ data.abbreviation }}</li>
      </ul>
  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from 'vuex'
export default {
  name: 'GetApiComponent',
 data () {
     return{
         valueToApiGet: null
     }
 },
 computed: {
     ...mapGetters([
         'storeName'
     ])
 },
  mounted (){
    console.log('hola eithan')
    this.getDataToApi();
  },
  methods: {
    getDataToApi (){
      console.log('hola wilson')
      axios.get('https://costoslogisticos.onltrd.org.do/api/terminals').then( value => {
        console.log(value.data)
        this.valueToApiGet = value.data
      }).catch(error => console.log(error))
    }
  }
}
</script>

<style>

</style>    