<template>
  <div class="hello">
    <label for="name">Introdusca un nombre</label>
    <input type="text" id="name" name="name" v-model="name">
    <label >{{name}} </label>
    <hr>
    <!-- <label>Ver los datos de la Api
    <get-api-component />
    <post-api-components /></label> -->
  </div>
</template>

<script>
// import GetApiComponent from '../components/data/GetApiComponent.vue'
// import PostApiComponents from '../components/data/PostApiComponents.vue'
export default {
  name: 'Home',
  components: {
    // GetApiComponent,
    // PostApiComponents
  },
data (){
  return{
    name: null
  }
},
  props: {
    msg: String
  },
  watch: {
    name: function (newVal, oldVal) {
       if (newVal !== oldVal) {
        this.$store.commit('getName', newVal)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
    