<template>
  <div>
      hola
      <label for="Escribe la descripcion"></label>
      <input type="text" id="description"  v-model="valueToApiPost.description">
    
      <button type="button" @click="getDataToApi">Agregar</button>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name:'PostApiComponents',
  
 data () {
    return{
        valueToApiPost: {
          description: null,
          countryId: 1,
          transportMode:1
         }
    }
 },
  methods: {
    async getDataToApi (){
      console.log('hola wilson')
     const result = await axios.post('https://costoslogisticos.onltrd.org.do/api/terminals', this.valueToApiPost)
        console.log(result.data + ' ' +'ggggggggggggggggggg')
    }
    // async calculate (scenario) {
    // const result = await this.http.post('/transport-chain-scenario', scenario)
    // return result.data
  
  }
}
</script>

<style>

</style>  