<template>
 <div id="app">
   <div id="nav">
    <router-link :to="'/'">Home</router-link> |
    <router-link :to="'/post-api-components'">Agregar datos</router-link>  |
   <router-link :to="'/get-api-component'">Ver datos de la Api</router-link> 
   </div>
 <router-view />
   
  </div>  
</template>

<script>

export default {
  
  components: {
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
